*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
  font-family: Arial, Helvetica, sans-serif;
}

.heading-container{
  background: #505050;
  height: 120px;
  display: flex;
  justify-content: center;
}

.logo{
  width: auto;
  height: 110px;
  display: inline-block;
}

h1{
  padding-top: 30px;
  margin-left: 20px;
  font-size: 3rem;
  color: rgb(255, 222, 36);
}
.card-container{
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  background-color: #e6e6e6;
  color: #eeeeee;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #444444;
  margin: 30px;
  font-size: 1.1rem;
  display: inline-block;
  text-align: center;
}

.pokeImage{
  height: 250px;
  width: auto;
}

.card-info{
  padding-top: 5px;
  max-height: 70px;
  width: 390px;
  margin-left: 10px;
  font-family:'Courier New', Courier, monospace;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  text-align: left;
}

.card-container:hover{
  box-shadow: 0px 0px 10px #ffc400;
}

.card-info:hover{
  max-height: 300px;
}

.info-container{
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #808080;
}

